@font-face {
    font-family: Anton;
    src: url('../../../../Assets/Fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: Mont;
    src: url('../../../../Assets/Fonts/Montserrat-VariableFont_wght.ttf');
}



.About-Gal .main-content{
    height:100%;
    width:75%;
    z-index: 2;
    margin: auto;
}

.About-Gal .main-content .head{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.About-Gal .content-box{
    position: relative;
    z-index: 3;
    color:white;
    margin-top: 7vh;
}

.content-box .sub-head{
    font-size: 3.2rem;
    font-family: Anton;
    margin-bottom: 20px;
}

.content-box .sub-sub-head{
    font-size: 1.8rem;
    font-family: Mont;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 3vh;
}

.about-munc{
    font-family: Mont;
    font-weight: 200;
    text-align: justify;
    margin: auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    line-height: 27.78px;
    color: white;
}


@media (max-width:900px) {
    .content-box .sub-head{
        font-size: 2.6rem;
    }
    
    .content-box .sub-sub-head{
        font-size: 1.2rem;
    }
    
    .about-munc{
        font-size: 0.8rem;
    }
}

@media (max-width:630px) {
 
        
    .about-munc{
        line-height: 20.78px;
    }
}



@media (max-height:620px) {
    .about-munc{
        font-size: 0.9rem;
        line-height: 17.78px;
    }
}

