@font-face {
    font-family: Anton;
    src: url('../../../../Assets/Fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: Mont;
    src: url('../../../../Assets/Fonts/Montserrat-VariableFont_wght.ttf');
}
.past-main{
    height: 100svh;
    background-image: url('../../../../Assets/Images/Background/MUN Background Image.png');
    background-size: cover;
    z-index: 1;
    /* margin-bottom: 5rem; */
}

.past-main .building{
    position: absolute;
    bottom: 0;
    background-image: url('../../../../Assets/Parallax/Building_final.png');
    background-size: cover;
    height:70%;
    width:100%;
    z-index: 1;
}

.past-main .main-content{
    height:100%;
    width:75%;
    z-index: 2;
    margin: auto;
}

.past-main .main-content .head{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.past-main .main-content .head h1{
    font-family: Anton;
    letter-spacing: 0.3rem;
}

.past-main .main-content .head h5{
    font-family: Mont;
    margin-top: 15vh;
    display: flex;
    justify-content: flex-start;
}


.past-main .content-box{
    position: relative;
    z-index: 3;
    color:white;
    margin-top: 30vh;
}

.content-box .sub-head{
    font-size: 3.2rem;
    font-family: Anton;
    margin-bottom: 20px;
}

.content-box .sub-sub-head{
    font-size: 1.8rem;
    font-family: Mont;
    font-weight: 600;
    margin-top: 15px;
}

.about-muncc{
    font-family: Mont;
    font-weight: 200;
    text-align: justify;
    margin: auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    line-height: 27.78px;
    color: white;
}


@media (max-width:900px) {
    .content-box .sub-head{
        font-size: 2.6rem;
    }
    
    .content-box .sub-sub-head{
        font-size: 1.2rem;
    }
    
    .about-muncc{
        font-size: 0.8rem;
    }
}

@media (max-width:630px) {
    .past-main .content-box{
        margin-top: 25vh;
    }
        
    .about-muncc{
        line-height: 20.78px;
    }
}

@media (max-width:380px) {
    .past-main .content-box{
        margin-top: 10vh;
    }
}

@media (max-height:620px) {
    .about-muncc{
        font-size: 0.7rem;
        line-height: 17.78px;
    }
    .past-main .content-box{
        margin-top: 25vh;
    }
}

