@font-face {
    font-family: Anton;
    src: url('../../../../Assets/Fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: Mont;
    src: url('../../../../Assets/Fonts/Montserrat-VariableFont_wght.ttf');
}

.team-page{
    background-color: #190028;
}