@font-face {
    font-family: Mont;
    src: url('../../../../Assets/Fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: Anton;
    src: url('../../../../Assets/Fonts/Anton-Regular.ttf');
}

.home {
    background-image: url('../../../../Assets/Images/Background/MUN Background Image.png');
    height: 100svh; /* Full viewport height */
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden; /* Prevent overflow */
    z-index: 10;
    font-family: Anton;
}

.home-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 14vh;
    z-index: 4; /* Ensure text is above other elements */
    font-family: Anton;
}

.buildings {
    position: absolute;
    bottom: 0;
    background: url('../../../../Assets/Parallax/Buildings.png');
    /* background: url('../../../../Assets/Parallax/Transparent_Building.png'); */
    height: 70%;
    width: 100%;
    background-size: cover;
    z-index: 1; /* Ensure buildings are behind other elements */
    transform: translateY(0); /* Start with no offset */
    transition: transform 0.3s ease-out; /* Smooth transition for parallax effect */
}

.MUN_gif {
    position: absolute;
    z-index: 3;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    transform: translateY(0); /* Start with no offset */
    transition: transform 0.3s ease-out; /* Smooth transition for parallax effect */
}

.MUN_gif img {
    height: 25vh;
    transition: height 0.2s ease; /* Smooth height transition for responsiveness */
}

.earth {
    position: absolute;
    z-index: 10; /* Ensure earth is above buildings but below MUN_gif */
    top: 65vh; /* Adjust as needed */
    width: 100%;
    height: 100%;
    mix-blend-mode:luminosity;
}

.earth img {
    width: 100%;
    transition: transform 0.3s ease-out;  /* Smooth zoom transition */
}

.flags{
    position: absolute;
    top:0;
    width: 100%;
}
.flag1{
    position: relative;
    left: 0;
}
.flag2{
    position: relative;
    right: 0;
}

.flag1 img{
    position: absolute;
    left: 0;
    top:-18vw;
    width:40%;
}
.flag2 img{
    position: absolute;
    right: 0;
    top:-18vw;
    width:40%;
}


@media (max-width: 980px) {
    .MUN_gif img {
        height: 18vh;
    }
}

@media (max-width: 660px) {
    .MUN_gif img {
        height: 15vh;
    }
}

@media (max-width: 415px) {
    .MUN_gif img {
        height: 12vh;
    }
    .home h1 {
        font-size: 22px;
    }
    .home h5 {
        font-size: 12px;
    }
    /* .earth{
        height: 100%;
    }
    .earth img{
        height:25%;
    } */
    /* .flag1 img{
        top:-23vw;
        width:45%;
    }
    .flag2 img{
        top:-23vw;
        width:45%;
    } */
}
