.contain {
    background-color: transparent;
    color: white;
    padding: 30px;
    margin: 0;
    position: relative;
    z-index: 2; /* Ensure this page is above the Home page */
}

.image-container {
    position: relative;
    width: 80%;
    height: 384px;
    margin: auto;
    border-radius: 20px;
    padding: 1rem;
    background: linear-gradient(to right, #D587FF, rgba(213, 135, 255, 0) 33%, rgba(213, 135, 255, 0) 66%, #D587FF);
    padding: 3px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: block;
    object-fit: cover;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.text-center {
    font-family: 'Cinzel', 'sans-serif';
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
    line-height: 53.92px;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1.5px;
    color: white;
    z-index: 1;
}

p {
    font-family: Mont;
    font-weight: 200;
    text-align: justify;
    width: 90%;
    margin: auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 27.78px;
    color: white;
}

@media only screen and (max-width: 1200px) {
    .image-container {
        width: 90%;
    }
}

@media only screen and (max-width: 990px) {
    .image-container {
        width: 95%;
    }
}

@media only screen and (max-width: 768px) {
    .image-container {
        width: 100%;
    }

    .text-center {
        font-size: 25px;
        line-height: 36px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .image-container {
        height: 35vh;
    }

    .text-center {
        font-size: 20px;
        line-height: 28px;
    }

    p {
        font-size: 12px;
        line-height: 18px;
    }
}
