.div {
    background-color: transparent;
    color: white;
}

.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem; 
    width: 100%;
    box-sizing: border-box;
}

.img-container {
    flex: 1; 
    max-width: 50%;
    border-radius: 20px;
    padding: 4px;
    background: linear-gradient(to right, #D587FF, rgba(213, 135, 255, 0) 33%, rgba(213, 135, 255, 0) 66%, #D587FF);
    box-sizing: border-box;
}

.img-container .custom-image {
    display: block;
    width: 100%;
    aspect-ratio: 2; 
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.text-container {
    flex: 1; 
    max-width: 50%; 
    text-align: center;
    padding: 0 1rem; 
}

.text-center {
    font-family: 'Cinzel', 'sans-serif';
    font-weight: 900;
    line-height: 1.4;
    font-size: 2.2rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    color: white;
}

.about-p {
    font-family: Mont;
    font-weight: 200;
    text-align: justify;
    font-size: 1.2rem; 
    line-height: 1.6;
    color: white;
}

@media only screen and (max-width: 1024px) {
    .about-container {
        flex-direction: column;
        gap: 25px;
    }

    .img-container, .text-container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .text-center {
        font-size: 1.8rem;
    }

    .about-p {
        font-size: 1rem;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 576px) {
    .text-center {
        font-size: 1.6rem;
    }

    .about-p {
        font-size: 0.9rem;
        line-height: 1.4;
    }
}
