.div {
    background-color: #290040;
    color: white;
}

.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 10vw;
}

.img-container {
    margin: auto;

    border-radius: 20px;
    padding: 4px;
    background: linear-gradient(to right, #D587FF, rgba(213, 135, 255, 0) 33%, rgba(213, 135, 255, 0) 66%, #D587FF);
    box-sizing: border-box;
    max-width: 100%;
}

.img-container .custom-image {
    display: block;
    width: 100%;
    aspect-ratio: 1.8;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.text-center h1{
    font-family: 'Cinzel', 'sans-serif';
    font-weight: 900;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    color: white;
}

.about-p {
    font-family: 'Crimson Pro', 'sans-serif';
    font-weight: 200;
    text-align: justify;
    width: 90%;
    margin: auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 27.78px;
    color: white;
}

@media only screen and (max-width: 1024px) {
    .about-container {
        flex-direction: column;
        gap: 25px;
        width: 100%;
    }

    .about-p {
        width: 100%;
    }

    .img-container .custom-image {
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 768px) {
    .text-center h1 {
        font-size: 25px;
        line-height: 36px;
    }

    .about-p {
        font-size: 16px;
        line-height: 24px;
        width: 95%;
    }
}

@media only screen and (max-width: 576px) {
    .custom-image {
        width: 100%;
    }

   .text-center h1 {
        font-size: 20px;
        line-height: 28px;
    }

    .about-p {
        font-size: 14px;
        line-height: 21px;
        width: 100%;
    }
}