.Navbar_list{

    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nested_list{
    list-style: none;
    display: flex;
    /* align-items: center; */
   
    margin-left: auto;
    font-size: 16px;
   
    
}

.navbar_items{
    margin-right: 70px;
}

.contact_us{

    margin-left: auto;
    margin-right: 75px;
    border: 2px solid black;
    padding: 10px 30px 10px 30px;
    border-radius: 7px;
    border-color: rgba(213, 135, 255, 1);
}

.mun_logo{
    margin-right: auto;
}