.heading{
    font-size: 1.8rem;
    color:#FFFFFF;
    font-weight: 600;
    font-family: Mont;
    width: 80%;
    text-align: center;
}
.text{
    width: 56%;
 margin-bottom:3% ;
    margin-top: 3%;
}
.slick-dots {
    bottom: -30px; /* Adjust as needed */
    border-radius: 50%;
  }
  
  /* Individual dot */
  .slick-dots li {
    margin: 0 5px; /* Adjust spacing between dots if needed */
  }
  
  /* Dot button */
  .slick-dots li button {
    background-color:#FFFFFF ; /* Default dot color */
    border-radius: 50%;
  }
  
  /* Active dot */
  .slick-dots li.slick-active button {
    background-color: whitesmoke; /* Color of the active dot */
    border-radius: 50%;
  }
  .slider-item {
    width: 90%;
  }
  
  .slider-item img {
    width: 100%;
    border-radius: 0.1rem;
    padding: 10px;
    border: 3px solid #7506c2; /* Add border here */
    box-sizing: border-box; /* Ensure padding and border are included in width/height */
  }
  
  .lined{
    margin-top: 14vh;
  }
  @media (max-width: 750px) {
    .heading{
        font-size: 22.5px;
     
    }
}
