*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Cinzel_bold;
}
@font-face{
  font-family: Cinzel;
  src:url("./Assets/Fonts/Cinzel-Regular.ttf");
}
@font-face{
  font-family: Cinzel_bold;
  src:url("./Assets/Fonts/Cinzel-Bold.otf");
}


body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background: black;
    border-radius: 5px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 14px;
    border: 2px solid rgb(240, 110, 29);
  }
  
a{
    color: inherit;
    text-decoration: none;
}

