/* .bg1{
    background-image: url('../../../Assets/Images/Background/MUN_BG_Home1.png');
    background-size: cover;
}

.bg2{
    background-image: url('../../../Assets/Images/Background/MUN_BG_Home2.png');
    background-size: cover;
} */

.main{
    background-color: #190028;
}